<div class="template">
  <div class="template__body">
    <div class="template__body--title heading__tertiary" mat-dialog-title>
      <ng-container *ngIf="app.details.name; else defaultName">
        {{ app.details.name }}
      </ng-container>
      <ng-template #defaultName>Untitled</ng-template>
    </div>
    <mat-horizontal-stepper
      [linear]="false"
      #stepper
      class="template__body--stepper"
    >
      <mat-step [stepControl]="firstFormGroup" label="Form Details">
        <app-fill-form-details
          [appDetails]="app.details"
          (newAppDetails)="onUpdateDetaails($event)"
          completed="isAppDetailsFilled"
        ></app-fill-form-details>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Design Form">
        <app-design-form
        [appDetails]="app.details"
        (newFormDesign)="updateFormDesign($event)"
        completed="isFormDesignCompleted"
        ></app-design-form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Define Workflow">
        <app-define-workflow></app-define-workflow>
      </mat-step>
      <mat-step label="Change Permissions">
        <app-change-permissions></app-change-permissions>
      </mat-step>
      <mat-step label="Publish App">
        <app-publish-app></app-publish-app>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
