<div class="pricing" id="pricing-sec">
  <h2 class="heading__secondary pricing__heading">Pricing</h2>

  <div class="card card-{{ i+1 }}" *ngFor="let plan of plans; index as i; first as isFirst">

    <div class="card__side card__side--front card__side--front-{{ i+1 }}">
      <div class="card__heading">

        <h2 class="card__heading--{{ i+1 }} heading__secondary">
          {{ plan.heading }}
        </h2>

        <h3 class="heading__tertiary card__heading--tertiary">{{ plan.subHeading }}</h3>

      </div>
      <div class="card__details card__details--{{ i+1 }}">
        
        <ul>
          <li *ngFor="let item of plan.details">{{ item }}</li>
        </ul>
     
      </div>
    </div>
    
    <div class="card__side card__side--back card__side--back-{{ i+1 }}">
      <div class="card__cta">
        
        <div class="card__price-box">
          <p class="card__price-only" *ngIf="!isFirst">Only</p>
          <p class="card__price-value">{{ plan.price }}</p>
        </div>
        
        <a routerLink="/auth/login" class="btn btn--white">Book Now</a>
      </div>
    </div>
  
  </div>
</div>