/**
  * Changes for Elements automatically inserted by the Material Module
  */
.mat-tab-body-wrapper{
  flex-grow: 1;
}
.workDaySettings__day .mat-slide-toggle-label {
  display: flex; 
  justify-content: space-between;
}

.lato {
  font-family: 'lato' !important;
}

.mat-horizontal-stepper-header {
  &-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  }
}