// Colours


$color-primary: #00e2ff;

$color-white: #fff;
$color-black: #000;

$color-green: #0f0;

$color-invalid: #f00;


$color-primary-0: #008EA2;	// Main Primary color */
$color-primary-1: #0FCAE4;
$color-primary-2: #01D0ED;
$color-primary-3: #007180;
$color-primary-4: #005662;

$color-secondary-1-0: #59E200;	// Main Secondary color (1) */
$color-secondary-1-1: #68F70B;
$color-secondary-1-2: #62F900;
$color-secondary-1-3: #48B800;
$color-secondary-1-4: #378C00;

$color-secondary-2-0: #0E04B6;	// Main Secondary color (2) */
$color-secondary-2-1: #352AEA;
$color-secondary-2-2: #1407F1;
$color-secondary-2-3: #0B0392;
$color-secondary-2-4: #08026F;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


// Font Size
$font-size: 1.6rem;

