<div class="user-management-dialog">
  <mat-toolbar class="toolbar" mat-dialog-title>
    <div class="toolbar__title">
      Users
    </div>
    <app-table-search></app-table-search>
    <div class="toolbar__actions">
      <mat-form-field class="toolbar__actions--selectusertype">
        <mat-select [(value)]="showUserType">
          <mat-option value="allUsers">All Users</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="inActive">Active</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="toolbar__actions--button">
        Activate
      </button>
      <button mat-raised-button class="toolbar__actions--button">
        Deactivate
      </button>
      <button
        mat-raised-button
        class="toolbar__actions--button"
        (click)="openAddUserDialog()"
      >
        Add User
      </button>
      <button mat-raised-button class="toolbar__actions--button">Import</button>
      <button
        mat-raised-button
        [matMenuTriggerFor]="moreActions"
        class="toolbar__actions--button toolbar__actions--more"
      >
        ...
      </button>
      <mat-menu #moreActions="matMenu">
        <button mat-menu-item>Export</button>
        <button mat-menu-item>Change Department</button>
        <button mat-menu-item>Change Location</button>
        <button mat-menu-item>Change Manager</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-dialog-content class="user-management-dialog__data-table">
    <app-user-management-data-table
      [users]="users"
      [groups]="groups"
      [departments]="departments"
      [locations]="locations"
      [displayedColumns]="cols"
      (updateManager)="onUpdateManager($event)"
      (updateGroup)="onUpdateGroup($event)"
      (updateDepartment)="onUpdateDepartment($event)"
      (updateLocation)="onUpdateLocation($event)"
    ></app-user-management-data-table>
  </mat-dialog-content>
  <mat-dialog-actions>
    sdvvvssewe
  </mat-dialog-actions>
</div>
