<mat-form-field
  class="search__box"
  [@slideIn]="isSearchBoxVisible ? true : false"
  color="primary"
>
  <input
    matInput
    class="search__box--input"
    [formControl]="searchBox"
    (keyup)="searchUsers()"
  />
  <mat-hint>Search</mat-hint>
</mat-form-field>
<mat-icon
  fontSet="icofont"
  fontIcon="icofont-close-line"
  *ngIf="isSearchBoxVisible"
  (click)="hideSearchBox()"
></mat-icon>
<mat-icon
  fontSet="icofont"
  fontIcon="icofont-search"
  (click)="showSearchBox()"
  *ngIf="isSearchBoxIconVisible"
></mat-icon>
