
<div class="hero">
  <div class="hero__titlebox">  
    

    <h1 class="heading__primary">
      <span class="heading__primary--main">
          Automate Work. Reduce Chaos.
      </span>
      <span class="heading__primary--sub">
          Create unlimited automated workflows for your business or department.
      </span>
    </h1>



    <a href="#about-sec" class="btn hero__link">
      <svg class="hero__svg" viewBox="0 0 210 50" preserveAspectRatio="none">
        <svg:rect class="hero__rect"/>
      </svg>
      Know More
    </a>


  </div>


  <div class="hero__next-indiactor">
    <span class="hero__next-indiactor--element">&nbsp;</span>
  </div>

  
</div>
