<div class="accountSettingsTab">
  <mat-card class="card card-1">
    <mat-card-header>
      <mat-card-title class="card__title card-1__title"
        >Account Settings</mat-card-title
      >
    </mat-card-header>

    <mat-card-content class="card__body card-1__body">
      <form
        class="form account__settings"
        [formGroup]="accountSettings"
        (submit)="onSubmitAccountSettings()"
        id="accountSettingsForm"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="companyName"
            placeholder="Company Name"
            class="inp"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-select
            formControlName="dateFormat"
            class="form__select"
            placeholder="Date Format"
          >
            <mat-option *ngFor="let df of dateFormats" [value]="df">
              {{ df.type }}
            </mat-option>
          </mat-select>
          <mat-hint>{{ accountSettings.value["dateFormat"]?.hint }}</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            formControlName="currency"
            class="form__select"
            placeholder="Currency"
          >
            <mat-option *ngFor="let crf of currencyFormats" [value]="crf">
              {{ crf.type | decodeHtmlStrings }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            formControlName="language"
            class="form__select"
            placeholder="Language"
          >
            <mat-option *ngFor="let lang of languageFormats" [value]="lang">
              {{ lang.type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <button mat-stroked-button color="accent" >
        Reset Password
      </button>

    </mat-card-content>

    <mat-card-actions class="card__actions card-1__actions">
      <button mat-raised-button color="primary" form="accountSettingsForm">
        Update
      </button>
      <button mat-stroked-button color="accent" (click)="onResetAccountSettings()">
        Reset
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-2">
      
    <mat-card-header>
          <mat-card-title class="card__title card-2__title">
            Work Days & Holidays
            </mat-card-title>
            <mat-card-subtitle>
                Select the days of the week your Organisation works & Set the Holidays. We use this data while computing the deadlines for initiated tasks.
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="card__body card-2__body">
          <mat-tab-group class="card-2__tab" selectedIndex="2">
            <mat-tab label="Work Days">
              <form class="form workDaySettings" [formGroup]="workDaySettings" (submit)="onSubmitWorkDays()">

                <mat-slide-toggle *ngFor="let day of days" labelPosition="before" class="workDaySettings__day" formControlName="{{ day }}"> {{ day }} </mat-slide-toggle>
                <div class="workDaySettings__buttons">

                  <button mat-stroked-button class="workDaySettings__button" color="accent" (click)="onResetWorkDays()">
                    Reset
                  </button>
                  <button mat-raised-button class="workDaySettings__button" color="primary" type="submit">
                    Update
                  </button>
                </div>
              </form>
            </mat-tab>

            <mat-tab label="Holidays">
              <div class="holiday">
              <form class="form holiday__settings" [formGroup]="holidaySettings" (submit)="onSubmitHolidays()">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput type="text" formControlName="name" placeholder="Holiday Name">
                      <mat-hint align="start">eg: New Year's Eve </mat-hint>
                    </mat-form-field>
                    <button mat-stroked-button color="accent" class="holidaySettings__button" color="primary" type="submit">
                        Add
                      </button>
              </form>
              <div class="holiday__list">
                <ng-container *ngIf="leaves.length != 0 ">
                  <div class="holiday holiday-{{ i }}" *ngFor="let leave of leaves; let i=index" > {{ leave.date }} {{ leave.name}}</div>

                </ng-container>
                <ng-container *ngIf="leaves.length == 0">
                  <div class="holiday__list--error">

                    No Holidays Defined
                  </div>
                </ng-container>
                
                
              </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </mat-card-content>
  
    </mat-card>

</div>
