<!-- <div [class.dark-theme]="isDark"> -->
  <div class="container">
    <mat-toolbar color="primary" class="nav">
      Admin Panel
      <span class="nav-space"></span>
      <div class="nav__name">
        {{ admin.name }}
      </div>
      <app-theme-picker (themeType)="setTheme($event)"></app-theme-picker>
      <button mat-button (click)="onLogout()" class="nav__button">
        Logout
      </button>
    </mat-toolbar>

    <mat-tab-group class="tabs" id="tab-group" selectedIndex="1">
      <mat-tab
        label="{{ tab.label }}"
        class="tabs__content"
        *ngFor="let tab of tabs"
      >
        <ng-template matTabContent>
          <ng-container *ngComponentOutlet="tab.component"></ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
<!-- </div> -->
